<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Phil's Tech Blog</title>
</head>

<body>

    <!-- Login form -->
    <main>
        <h2>Login to Phil's Tech Blog</h2>
        
        <!-- Display the error message if there is one -->
        {{#if error}}
        <div class="error">
            {{error}}
        </div>
        {{/if}}
        
        <form action="/api/users/login" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up now!</a></p>
    </main>
</body>
<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>
</html>
